// Footer Start
.footer-bg {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    
    .footer {
      border-bottom: 1px solid var(--primary-date-color);
      display: flex;
      justify-content: space-between;
      padding-bottom: 100px;
  
      .footer-left {
        width: 20%;
        p {
          font-size: $fonts18;
          line-height: $line-height22;
          padding: 20px 0 40px;
        }
        .social-media-icon {
          ul {
            display: flex;
          }
          li {
            margin-right: 10px;
            background: var(--secondary-color);
            padding: 5px 10px;
            margin-top: 20px;
            border-radius: 5px;
            img{
              margin-top: 5px;
              display: block;
            }
          }
  
          h5 {
            font-size: $fonts22;
            line-height: $line-height22;
          }
        }
      }
      .quick-links {
        width: 15%;
  
        li {
          font-size: $fonts18;
          line-height: $line-height40;
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
        h3 {
          font-size: $fonts22;
          line-height: $line-height22;
          margin-bottom: 20px;
        }
      }
      .popular-post {
        width: 26%;
  
        li {
          margin-top: 10px;
        }
        li:first-child {
          border-bottom: 1px solid var(--primary-date-color);
          padding-bottom: 10px;
          margin-top: 30px;
        }
        h3 {
          font-size: $fonts22;
          line-height: $line-height22;
          margin-bottom: 20px;
        }
        .popular {
          display: flex;
  
          img {
            width: 100px;
            border-radius: 5px;
          }
          .popular-details {
            margin-left: 20px;
  
            h4 {
              font-size: $fonts18;
              margin-bottom: 10px;
            }
            p {
              color: var(--primary-date-color);
            }
          }
        }
      }
      .contact-info {
        width: 20%;
  
        h3 {
          font-size: $fonts22;
          line-height: $line-height22;
          margin-bottom: 20px;
        }
        li {
          margin-top: 30px;
        }
        .contact-details {
          display: flex;
  
          .contact-left {
            background: var(--secondary-color);
            padding: 10px;
            border-radius: 50px;
            img {
              display: block;
            }
          }
          .contact-right {
            margin-left: 10px;
            h5 {
              font-size: $fonts20;
              font-weight: 500;
              margin-bottom: 5px;
            }
            p {
              color: var(--primary-date-color);
            }
          }
        }
      }
    }
  }
  
  // Footer End
  // Copy right Start
  .copy-right{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  
    .left{
     font-size: $fonts18; 
      
    }
    .right{
      font-size: $fonts18;
      ul{
        display: flex;
      }
      li{
        margin-right: 20px;
      }
      li:last-child{
        margin-right: 0;
      }
    }
  }
  
  // Copy right End
  