:root{
    --primary-color: #fff;
    --secondary-color: #0c5adb;
    --primary-color-bg: #022867;
    --secondary-color-cards-bg: #000036;
    --primary-color-button: #00247e;
    --secondarey-black: #000;
    --testimonial-color-bg: #0b0e3c;
    --border-color: #242750;
    --secondary-button-color: #222224;
    --primary-date-color: #7788c9;
}