// Fonts
$fonts14: 14px;
$fonts18: 18px;
$fonts20: 20px;
$fonts22: 22px;
$fonts24: 24px;
$fonts26: 26px;
$fonts30: 30px;
$fonts40: 40px;
$fonts65: 65px;




// line-height
$line-height12: 12px;
$line-height20: 20px;
$line-height22: 22px;
$line-height24: 24px;
$line-height40: 40px;
$line-height50: 50px;
$line-height26: 26px;
$line-height30: 30px;
$line-height65: 65px;



//transition
$transition05: all 0.5s ease; 
