.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu li {
  margin-right: 30px;
}
.header .menu li img {
  width: 20px;
}